h1
{
text-align: center;
color: white;
text-shadow: 0px 0px 4px black; 
font-family:serif
}

body
{
background-color: paleturquoise;
background-attachment: fixed;
background-size: 100% 100%
}

input
{
text-align: top right;
margin:50px 50px 0px 0px
}

select
{
height: 20px; width: 360px; margin: 100px 20px 0px 0px
}

img
{min-height: 3000px, min-width: 3000px, max-height: 3000px; max-width: 3000px; margin: 100px 500px 0px 0px
}

p
{
font-style: italic
}